:root {
	--container-max-width: 62rem;
	--container-padding-inline: 1rem;

	--s-xs: 0.5rem;
	--s-sm: 1rem;
	--s-md: 1.5rem;
	--s-lg: 2rem;
	--s-xl: 4rem;
	--s-2xl: 6rem;

	--bg: #191c23;
	--bg-light: #405063;
	--bg-muted: #23272f;
	--bg-mm: #6200ee;
	--fg: #fff;
	--fg-primary: #ff3e00;

	/* @link https://utopia.fyi/clamp/calculator?a=375,1200,13—16|16—18|18—20|20—24|24—36|36—48&p=fs */
	--fs-sm: clamp(0.8125rem, 0.7273rem + 0.3636vw, 1rem);
	--fs-md: clamp(1rem, 0.9432rem + 0.2424vw, 1.125rem);
	--fs-lg: clamp(1.125rem, 1.0682rem + 0.2424vw, 1.25rem);
	--fs-xl: clamp(1.25rem, 1.1364rem + 0.4848vw, 1.5rem);
	--fs-2xl: clamp(1.5rem, 1.1591rem + 1.4545vw, 2.25rem);
	--fs-3xl: clamp(2.25rem, 1.9091rem + 1.4545vw, 3rem);

	--container: min(100%, var(--container-max-width));
	--grid-columns: 6;
	--grid-gutter: clamp(1.25rem, 0.6818rem + 2.4242vw, 2.5rem);
	--grid-column: calc(
		(var(--container) - (var(--grid-columns) + 1) * var(--grid-gutter)) / var(--grid-columns)
	);
}
